body{
    background-color: grey;
}
h1 {
    color: azure;
    
}

h2{
    color: black;
}
ol{
    color: white;
}
ul{
    color: white;
}
p{
    color: white;
    text-align: justify;
}
a{
    color: black;
}
